{% extends "base.html" %} {% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
    body{
        background-color: black;
    }
</style>
</head>

<body bgcolor="yellow">
<div class="col-md-6 offset-md-3"style="margin-top:50px;">


    <h1 class="text-center" style="color:white">Login</h1>
    <form method="POST" style="margin-top:50px;">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Username" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder=" Enter Password" name="password">
        </div>
        <center><button type="submit" class="btn btn-primary btn-lg">Login</button></center>
         <center><a class="nav-link" href="{% url 'signup' %}" style="color:blue;margin-top:10px">Don't have an account? Click here</a></center>
    </form>
</div>
</body>
</html>

{% endblock %}